.contact-us-header {

    background-image: url('/sca-dev-vinson/img/heros/contact-hero.jpg');

    min-height: 460px;
    max-height: 460px;
}

.contact-us h1 {

	color: $color-monochrome-darkest;

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;
}

.custom-page-seperator {

    margin-top: 50px;
    margin-bottom: 50px;

    max-height: 1px;

    background-color: $color-blue-light;
}

.locations h2 {

	color: $color-monochrome-darkest;

	font-size: 16px;
	font-weight: bold;

	line-height: 20px;

    margin-bottom: 20px;
}

.locations span {

    display: block;

	color: $color-monochrome-darkest;

	font-size: 15px;
	font-weight: 300;

	line-height: 25px;
}

.individual-profiles .cms-content p {

    font-weight: normal;
}

.individual-profiles .cms-content p:nth-child(1):first-line,
.locations .cms-content p:first-child:first-line {

    font-weight: bold;
}

.email-sales {

	color: $color-monochrome-darkest;

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;
}

.contact-us-information .cms-content h1 {

    text-transform: none;
    margin-bottom: initial;
}

.contact-us-information .cms-content p {

    margin-bottom: initial;
}

.custom-page .the-channel-ten-team h2 {

    text-transform: none;
}

.contact-us {

    margin-top: 40px;
}
