
{{#if hasAppliedFacets}}
<a href="{{clearAllFacetsLink}}" class="facets-faceted-navigation-facets-clear">
	<!--<i class="facets-faceted-navigation-facets-clear-icon"></i>-->
	<img src="/c.3471189/sca-dev-vinson/img/assets/icon-reset-filters.png" title="Reset filters" />
	{{translate 'Reset filters'}}
</a>
{{/if}}
