
.product-detail-to-quote-add-to-quote-button {

	@extend .button-tertiary;
	@extend .button-large;

	margin-top: $sc-base-margin * 3;
	margin-left: 0;

	font-weight: $sc-font-weight-semibold;

	border: 1px solid $sc-color-theme;

	width: 100%;

	text-align:center;

	cursor:pointer;
	cursor:hand;

    @include button-blue-hover;
}
