.recordviews-currency,
.quote-list-content-table-header-row-currency {

    display: none;
}

#quote-products .item-views-cell-navigable-item-unit-price,
#quote-products .item-views-price-old {

    display: none;
}
