.resellers-header {

    background-image: url('/sca-dev-vinson/img/heros/resellers-hero@2x.jpg');
}

.resellers {
    padding-bottom: 80px;
}

.introduction p,
.custom-page .introduction p {

    // Standard CSS padding
    /*padding-bottom: 5px;*/
}

.introduction {

    padding-bottom: 42px;
}

.resellers .information {

    padding-top: 36px;
    padding-bottom: 4px;
}

.reseller-logos .logo-container {

    width: 452px;
    height: 121px;

    height: 121px;
    position: relative;

    border-radius: 5px;

    text-align: center;
    vertical-align: middle;

    margin-right: 38px;
}

.logo-container img {

    /*width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
}

.logo-container p {

    text-align: left;
}
