.support-header {

    @extend .page-header;

    background-color: $color-header-background;

    /*height: 479px;*/

    margin-bottom: 49px;
    vertical-align: middle;
}

.support-header p {

    color: $color-white;

	font-size: 42px;
	font-weight: bold;

	line-height: 53px;
}

.get-support-button {

    @include button-blue;

	height: 58px;
	width: 172px;
}

.get-support-button:hover {

    @include button-blue-hover;
}

.get-support-button a,
.get-support-button a:hover {

    color: $color-white;
}

.support-content {

	font-size: 15px;
	font-weight: 300;

	line-height: 25px;

    width: 500px;
}

.support-content p {

    margin-bottom: 37px;
}

.support-header {

    line-height: initial;

    background-image: url('/sca-dev-vinson/img/heros/support-hero@2x.jpg');
}
