/**
 * Header CSS properties
 */

.header-mini-cart-button-view-cart {

    @include button-blue-border;
}

.header-mini-cart-button-view-cart:hover {

    @include button-blue-border-hover;
}

.header-mini-cart-button-checkout {

    @include button-blue;
}

.header-mini-cart-button-checkout:hover {

    @include button-blue-hover;
}

/**
 * Mini Cart CSS Properties
 */

.header-mini-cart-subtotal-items {

    text-transform: lowercase;
}

.header-mini-cart-subtotal-items,
.header-mini-cart-subtotal-amount,
.header-mini-cart-item-cell-product-title {

    font-size: 16px;
    font-weight: bold;

    line-height: 20px;

    color: $color-monochrome-darkest;
}

.header-mini-cart-subtotal-amount {

    text-align: right;
}

.header-mini-cart-sku {

    font-size: 14px;
    font-weight: 300;

    line-height: 18px;

    color: $color-monochrome-darker;
}

.header-mini-cart-item-cell-product-price {

    font-size: 17px;
    font-weight: 500;

    line-height: 22px;

    color: $color-blue-darker;

    display: inline;

    float: left;
}

.header-mini-cart-item-cell-product-qty {

    font-size: 14px;
    font-weight: 300;

    line-height: 18px;

    display: inline;

    float: right;
    padding-right: 40px;
}

.header-mini-cart-item-cell-quantity-value {

    color: $color-monochrome-darker;
}

.header-mini-cart-menu-cart-icon {

    color: $color-orange-dark;
}


.header-menu-cart-link-enabled{
	.header-menu-cart-icon{
		color: $color-orange-dark;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	color: $sc-color-primary;
}

.header-menu-myaccount-overview-anchor,
.header-menu-myaccount-anchor-level3 {

    color: $color-blue-darker;

    font-weight: 500;
}

.header-menu-myaccount-anchor-level2 {

    color: $color-monochrome-darkest;
    border-bottom: 1px solid $color-blue-light;
}

.header-menu-myaccount-signout-link {

    color: $color-blue-darker;
}

.header-menu-search-icon {

    color: $color-blue-darkest;
}

.header-mini-cart-menu-cart-legend {

	font-size: 15px;
	font-weight: bold;

	line-height: 19px;

    float: none;

    text-align: right;

    color: $color-orange-dark;
}

.header-menu-level1-anchor {

	color: $color-blue-darkest;

	font-size: 15px;
	font-weight: 600;

	/*line-height: 19px;*/
}

.active-option .header-menu-level1-anchor,
.active-option .header-menu-home-anchor,
.active-option .header-menu-shop-anchor,
.open .header-menu-level1-anchor {

    color: $color-blue-dull;

	font-weight: 600;
}

/*.header-secondary-wrapper {

    margin-top: 12px;
    height: 29px;
}

.header-menu-level1-anchor, .header-menu-home-anchor {

    line-height: 0px;
}

.header-menu-level1-anchor,
.header-menu-shop-anchor {

    display: inline;
}*/

.header-profile-welcome-link-name {

	color: $color-blue-darkest;

	font-size: 15px;
	font-weight: bold;

	line-height: 19px;

    position: relative;
    top: 4px;
    left: 3px;

    display: inline-block;

    @media (min-width: $screen-md-min) {

        position: relative;
        top: 4px;
        left: 3px;
    }
}

/**
 * Header profile SCSS
 */

.header-menu-profile .header-profile-welcome-link {

	color: $color-blue-darkest;

	font-size: 15px;
	font-weight: 300;
}

.header-profile-welcome-dropdown-icon {

    font-family: 'National';

	transform: rotate(90deg);

	color: $color-blue-darkest;

	font-size: 22px;
	font-weight: 600;

	line-height: 27px;

    display: inline-block;

    padding-bottom: 3px;
    margin: 5px 10px;
}

.header-profile-welcome-link {

}

.header-profile-menu-myaccount-container {

    top: 109px;
}

.header-logo {

    display: initial;

    @media (min-width: $screen-md-min) {

        line-height: initial;
        height: initial;
    }
}

.header-logo .channel-ten-logo {

    width: 210px;

    margin-top: 17px;

    @media (min-width: $screen-md-min) {

        width: 263px;
        height: 26px;
    }
}

.header-logo a {

    @media (min-width: $screen-md-min) {

        text-align: left;
        vertical-align: middle;

        width: 236px;
        height: 26px;

        display: block;
    }
}

.header-logo svg {

    @media (min-width: $screen-md-min) {

        width: auto;
        height: auto;

        position: relative;
        top: 15px;

        margin: auto;
    }
}

.header-menu-profile .header-menu-myaccount-anchor-level3,
.header-menu-profile .header-menu-myaccount-overview-anchor {

    font-weight: 600;
}

.header-menu-level1>li {

    padding: 0px 15px;
}

.header-menu-level1>li:first-child {

    padding-left: 0px;
}

.header-right-menu {

    float: none;
    margin-top: 4px;

    @media (min-width: $screen-sm-min) {
        float: right;
        margin-top: 5.5px;
    }

    @media screen and (orientation:landscape) and (max-width: $screen-md-min) {
        float: right;
    }
}
