.about-us-header {

    background-image: url('/sca-dev-vinson/img/heros/about-hero@2x.jpg');
    background-color: $color-blue-darkest;

    max-height: 479px;

    margin-bottom: 49px;
}

.about-us .introduction p {

    padding-bottom: 40px;
}
