{{!
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<!-- inline style to be shifted to ItemsSearcher.View.js -->

<input data-type="search-input" class="itemssearcher-input typeahead"
	placeholder="{{translate 'Search for products'}}"
	type="search" autocomplete="off"
	{{#if showId}} id="{{id}}" {{/if}} {{#if showName}} name="{{name}}" {{/if}}
	maxlength="{{maxLength}}" style="color: #7FA2BF; font-size: 18px;" />
