.training-and-events-header {

    background-image: url('/sca-dev-vinson/img/heros/training-hero@2x.jpg');
}

.introduction p,
.custom-page .introduction p {

    // Standard CSS padding
    /*padding-bottom: 5px;*/
}

.introduction {

    padding-bottom: 42px;
}

.milestone-logo {

    width: 452px;
    height: 121px;
}

.axis-communications-logo {

    width: 435px;
    height: 121px;
}

.training-and-events .information {

    padding-top: 36px;
    padding-bottom: 4px;
}

.training-and-events .milestone-logo {

    background-color: $color-milestone-logo;
}

.training-and-events .axis-communications-logo {

    background-color: $color-axis-communications-logo;
}

.training-and-events .milestone-logo,
.training-and-events .axis-communications-logo {


}

.training-and-events-logos {

    height: 121px;
    position: relative;
}

.training-and-events-logos img {

    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.training-and-events-logos div {

    border-radius: 5px;

    text-align: center;
    vertical-align: middle;

    margin-right: 38px;
}
