/**
 *
 */

// Shades of monochrome colors
$color-monochrome-darkest: #333333;
$color-monochrome-darker: #888888;
$color-monochrome-dark: #BBBBBB;
$color-monochrome-medium: #E6E6E6;
$color-monochrome-lighter: #F2F2F2;
$color-monochrome-lightest: #FAFAFA;

// Shades of blue
$color-blue-dull: #7FA2BF;

$color-blue-darkest: #004680;
$color-blue-darker: #0070C9;
$color-blue-dark: #2684D1;
$color-blue-dedium: #51A9EE;
$color-blue-light: #C2DDF2;
$color-blue-lighter: #F0F7FC;
$color-blue-lightest: #F7FBFD;

$color-red-dark: #D5403D;
$color-red-light: #FBE8E8;

// Shades of orange
$color-orange-dark: #F46C0E;
$color-orange-medium: #FF9447;

// Color blue for prev / next icons
$color-blue-prev-next: #DEEDF8;

// Default header background colors
$color-header-background: #00315A;

// Homepage carousel pagination colors
$color-carousel-pagination-active: #9ebad2;
$color-carousel-pagination-inactive: #cedeea;

// Paragraph colors
$color-carousel-paragraph: #2e2e2e;

// General colors
$color-white: #ffffff;

// Custom page colors
$color-photo-background: #D8D8D8;

$button-blue-top-gradient: #3b9eef;
$button-blue-bottom-gradient: #016fcc;

$button-blue-hover-top-gradient: #51a9ee;
$button-blue-hover-bottom-gradient: #2785d2;

$color-seperator: #29567a;

$color-standard-information: #f1f7fa;

// Footer colors
$color-footer-links: #ccdae5;
$color-footer-copyright: #99b5cc;

$color-milestone-logo: #d9f0fa;
$color-axis-communications-logo: #fff5d6;
