
h1 {

}

h2 {

    font-size: 42px;
    font-weight: bold;

    line-height: 53px;

    color: $color-monochrome-darkest;
}

h3 {

    font-size: 15px;
    font-weight: bold;

    line-height: 25px;
}
