/**
 * @template cart_confirmation_modal
 */

.cart-confirmation-modal-sku {

    margin-top: 15px;
    margin-bottom: 0px;

	color: $color-monochrome-darker;

	font-size: 14px;
	font-weight: 300;

	line-height: 18px;
}

.cart-confirmation-modal-sku-value,
.cart-confirmation-modal-sku-label {

	@extend .sc-value-sku;

    font-size: 14px;
    font-weight: 300;

    line-height: 18px;

    color: $color-monochrome-darker;
}

.cart-confirmation-modal-view-cart-button,
.cart-confirmation-modal-view-cart-button:hover,
.cart-confirmation-modal-view-cart-button:active,
.cart-confirmation-modal-view-cart-button:focus,
.cart-confirmation-modal-view-cart-button:visited {

    @include button-blue;

    font-size: 18px;

    line-height: 23px;

    margin-top: 2px;
}

.cart-confirmation-modal-continue-shopping-button,
.cart-confirmation-modal-continue-shopping-button:hover,
.cart-confirmation-modal-continue-shopping-button:active,
.cart-confirmation-modal-continue-shopping-button:focus,
.cart-confirmation-modal-continue-shopping-button:visited {

    @include button-blue-border;

    background-color: $color-white;
    background-image: none;
    background: none;

    font-size: 18px;

    line-height: 23px;

    margin-top: 10px;

    text-shadow: none;
}

.cart-confirmation-modal-continue-shopping {

    padding-left: 0px;
    clear: both;
}

.cart-confirmation-modal-quantity-value {


}

.cart-item-actions-item-list-actionable-edit-button-edit,
.cart-item-actions-item-list-actionable-edit-button-edit:hover,
.cart-item-actions-item-list-actionable-edit-button-edit:active,
.cart-item-actions-item-list-actionable-edit-button-drop,
.cart-item-actions-item-list-actionable-edit-button-drop:hover,
.cart-item-actions-item-list-actionable-edit-button-drop:active {

    border-radius: 0px;
}

.cart-summary-button-proceed-checkout {

    @include button-blue;
}

.cart-summary-button-proceed-checkout {

    @include button-blue;
}
