.order-wizard-checkout-fields-module {

	@extend .box-column;
	overflow: hidden;
}

.order-wizard-checkout-fields-module input {

    @extend .input-large;
}

.order-wizard-checkout-fields-module {

	@extend .box-column;
	overflow:hidden;

	h5 {
		text-transform:uppercase;
		margin-bottom: $sc-small-margin;
	}

	margin-bottom: 30px;
}

.checkout-fields {
	padding: 30px;
}

.checkout-fields p label {
	font-weight: bold;
}
