<div class="container custom-page terms-of-trade">
    <div class="row terms-of-trade-content">
        <div data-cms-area="terms_of_trade_content" data-cms-area-filters="path"></div>
    </div>
</div>
