.menu-tree-node a {

	@extend .medium-title-navigable;

	color: $color-monochrome-darkest;

	font-size: 17px;
	font-weight: bold;

	line-height: 22px;

	text-transform: capitalize;
}


.menu-tree-node-item-anchor,
.open>.menu-tree-node-item-anchor {

	@extend .medium-title-navigable;

	display:block;

	padding: $sc-base-padding * 4;

	background-color: $color-standard-information;
	color: $color-monochrome-darkest;
	border-bottom: 1px solid $sc-color-theme-border;
	cursor: pointer;

	font-size: 17px;
	font-weight: bold;

	line-height: 22px;

	text-transform: capitalize;
}

.menu-tree-node-item-anchor .active {

	color: $sc-color-dark-copy;
}

.case-new-required {

	color: $color-red-dark;
}
