/**
 * Font Faces used for Channel 10
 * TODO find National font for pagination
 */

// Circular Std fonts
/*@font-face {

	font-family: 'Circular Std';
	font-weight: 500;
	font-style: normal;

	src: url($fonts-directory + 'CircularStd-Medium.eot'),
    	url($fonts-directory + 'CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
	    url($fonts-directory + 'CircularStd-Medium.woff') format('woff'),
    	url($fonts-directory + 'CircularStd-Medium.ttf') format('truetype');
}

@font-face {

	font-family: 'CircularStd-Book';
	font-weight: normal;
	font-style: normal;

	src: url($fonts-directory + 'CircularStd-Book.eot'),
	   url($fonts-directory + 'CircularStd-Book.eot?#iefix') format('embedded-opentype'),
	   url($fonts-directory + 'CircularStd-Book.woff') format('woff'),
	   url($fonts-directory + 'CircularStd-Book.ttf') format('truetype');
}

@font-face {

	font-family: 'Circular Std Bold';
	font-weight: bold;
	font-style: normal;

	src: url($fonts-directory + 'CircularStd-Bold.eot'),
        url($fonts-directory + 'CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url($fonts-directory + 'CircularStd-Bold.woff') format('woff'),
        url($fonts-directory + 'CircularStd-Bold.ttf') format('truetype');
}

@font-face {

	font-family: 'CircularStd-Black';

	src: url($fonts-directory + 'CircularStd-Black.eot'),
        url($fonts-directory + 'CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url($fonts-directory + 'CircularStd-Black.woff') format('woff'),
        url($fonts-directory + 'CircularStd-Black.ttf') format('truetype');
}*/

@font-face {

	font-family: 'National';
	src: url($fonts-directory + 'National-Regular.otf');
}

@font-face {

	font-family: 'National Semibold';
	src: url($fonts-directory + 'National-Semibold.otf');
}

// TODO Remove the following two font-faces if they're not required
// Depends on font-weight usage throughout elements
@font-face {

	font-family: 'National Medium';
	src: url($fonts-directory + 'National-Medium.otf');
}

@font-face {

	font-family: 'National Bold';
	src: url($fonts-directory + 'National-Bold.otf');
}

// Source Sans Pro font (import from Google Web Fonts)
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
