
@mixin button-blue () {

    background-image: -webkit-gradient(linear, left top, left bottom, from($button-blue-top-gradient), to($button-blue-bottom-gradient));
    background-image: -webkit-linear-gradient(top, $button-blue-top-gradient, $button-blue-bottom-gradient);
    background-image: -moz-linear-gradient(top, $button-blue-top-gradient, $button-blue-bottom-gradient);
    background-image: -ms-linear-gradient(top, $button-blue-top-gradient, $button-blue-bottom-gradient);
    background-image: -o-linear-gradient(top, $button-blue-top-gradient, $button-blue-bottom-gradient);
    background-image: linear-gradient(to bottom, $button-blue-top-gradient, $button-blue-bottom-gradient);

    background: linear-gradient(180deg, $button-blue-top-gradient 0%, $button-blue-bottom-gradient 100%);
    color: $color-white;

    border: 1px solid $color-blue-darker;
    border-radius: 5px;

    font-size: 18px;
    font-weight: 500;

    text-align: center;

    /*line-height: 23px;*/
}

@mixin button-blue-hover {

    background-image: -webkit-gradient(linear, left top, left bottom, from($button-blue-hover-top-gradient), to($button-blue-hover-bottom-gradient));
    background-image: -webkit-linear-gradient(top, $button-blue-hover-top-gradient, $button-blue-hover-bottom-gradient);
    background-image: -moz-linear-gradient(top, $button-blue-hover-top-gradient, $button-blue-hover-bottom-gradient);
    background-image: -ms-linear-gradient(top, $button-blue-hover-top-gradient, $button-blue-hover-bottom-gradient);
    background-image: -o-linear-gradient(top, $button-blue-hover-top-gradient, $button-blue-hover-bottom-gradient);
    background-image: linear-gradient(to bottom, $button-blue-hover-top-gradient, $button-blue-hover-bottom-gradient);

    background: linear-gradient(180deg, $button-blue-hover-top-gradient 0%, $button-blue-hover-bottom-gradient 100%);
    /*color: $color-blue-darkest;*/
    color: $color-white;

    border: 1px solid $color-blue-dark;
    border-radius: 5px;

    font-size: 18px;
    font-weight: 500;

    text-align: center;

    /*line-height: 23px;*/
}

@mixin button-blue-border {

    background: none;
    background-image: none;
    background-color: $color-white;

    color: $color-blue-darkest;

    border: 2px solid $color-blue-darkest;
    border-radius: 5px;
}

@mixin button-blue-border-hover {

    background: none;
    background-image: none;
    background-color: $color-blue-darkest;

    color: $color-white;

    border: 2px solid $color-blue-darkest;
    border-radius: 5px;
}

@mixin button-orange () {

    color: $color-white;
    background-color: $color-orange-dark;
    border: 2px solid $color-orange-dark;
    border-radius: 5px;
}

@mixin button-orange-hover {

    color: $color-white;
    background-color: $color-orange-dark;
    border: 2px solid $color-orange-dark;
    border-radius: 5px;
}

@mixin button-orange-flat {

    background-color: $color-orange-dark;
    border-radius: 5px;
}

@mixin button-orange-flat-hover {

    background-color: $color-orange-medium;
    border-radius: 5px;
}
