.myaccount-layout-header {

	-webkit-box-shadow: none;
	box-shadow: none;
}

.myaccount-layout h2 {

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;
}

.myaccount-layout-main h2 {

	text-transform: none;
}

small {

    color: $color-red-dark;
}
