/**
 * @template global_views_breadcrumb
 */

.global-views-breadcrumb-item,
.global-views-breadcrumb-item a {

	@extend .breadcrumb-item;

    font-size: 14px;
    font-weight: 500;

    line-height: 18px;

    color: $color-blue-darker;

	text-transform: capitalize;
}

.global-views-breadcrumb-item-active {
	
	@extend .breadcrumb-item-active;

    font-size: 14px;
    font-weight: 500;

    line-height: 18px;

    color: $color-monochrome-darker;
}

/**
 * @template global_views_pagination
 */

.global-views-pagination {

	font-size: 17px;
	font-weight: 300;

	line-height: 22px;

	background-color: $color-blue-lighter;
	color: $color-blue-darker;
}

.global-views-pagination .global-views-pagination-count {

	background-color: $color-white;
	color: $color-monochrome-darkest;
}

.global-views-pagination .global-views-pagination-active {

	color: $color-orange-dark;
}

.global-views-pagination .global-views-pagination-links-number {

	color: $color-blue-darker;
}

.global-views-pagination-next,
.global-views-pagination-prev {

	background-color: $color-blue-prev-next;
}

.global-views-pagination .global-views-pagination-next-icon {

	border-radius: 0px 5px 5px 0px;
}

.global-views-pagination .global-views-pagination-prev-icon {

	border-radius: 5px 0px 0px 5px;
}

.global-views-pagination-links a {

	color: $color-blue-darker;
	background-color: $color-blue-lighter;
}

// Only prev / next icons use National font-face
.global-views-pagination .global-views-pagination-next-icon,
.global-views-pagination .global-views-pagination-prev-icon  {

	background-color: $color-blue-prev-next;
	color: $color-blue-darkest;

	font-family: 'National';
	font-size: 24px;
	font-weight: 600;

	line-height: 29px;
}

.global-views-pagination .global-views-pagination-next,
.global-views-pagination .global-views-pagination-prev {

	display: inline-block;

	font-family: 'National';
	font-size: 24px;
	font-weight: 600;

	line-height: 29px;
}

.global-views-pagination .global-views-pagination-next {

	border-radius: 0px 5px 5px 0px;
	border-collapse: separate;
}

.global-views-pagination .global-views-pagination-prev-icon {

	border-radius: 5px 0px 0px 5px;
	border-collapse: separate;
}

.global-views-pagination .global-views-pagination-next a,
.global-views-pagination .global-views-pagination-prev a {

	background-color: $color-blue-prev-next;
}

.global-views-pagination .global-views-pagination-next-disabled,
.global-views-pagination .global-views-pagination-prev-disabled {

	color: $color-blue-dull;
}

/**
 * @template gobal_views_modal
 */

.global-views-modal-content-header-close {

	color: $color-monochrome-darker;

	width: 23.3px;
	height: 23.3px;

	margin-right: 20px;
}

.global-views-modal-content-header {

	margin-bottom: 0px;
}

// setting the modal dialog to the correct size
.global-views-modal-content {

	padding: 24px 0px 41px 29px;

	border-radius: 5px;
}

.global-views-modal-content-header-close {

	@extend .global-views-modal-content-header-close;


}

.global-views-modal-content-header-title {

	font-weight: 300;
}
