.home-banner-top-message {

    font-size: 14px;
    font-weight: 300;

    text-align: center;

    line-height: 18px;

    border-radius: 5px;
}

.home-slide-caption h1,
.home-slide-caption h2,
.home-slide-caption h3 {

    color: $color-blue-darkest;

    font-size: 45px;
    font-weight: 600;
}

.font-circular h1,
.font-circular p {

}

.font-calibri h2,
.font-calibri p {

}

// TODO Source Sans Pro will most likely need to be purchased
//      unless we use the free Open Sans alternative
.font-source-sans-pro h3,
.font-source-sans-pro p {

}

.home-image-slider .bx-pager a {

    background-color: $color-carousel-pagination-active !important;
    color: $color-carousel-pagination-active;
}

.home-gallery-prev-icon,
.home-gallery-next-icon {

    color: $color-carousel-pagination-active;

    background-image: none;
    background: none;
}

.home-gallery-prev-icon {

    background-image: url('/c.3471189/sca-dev-vinson/img/carousel-arrows.png') 0 0;
}

.home-gallery-next-icon {

    background-image: url('/c.3471189/sca-dev-vinson/img/carousel-arrows.png') -59px 0;
}

.home-gallery-prev-icon:before {

    content: '';
}

.home-gallery-next-icon:before {

    content: '';
}

.home-slide-main-container {

    background-color: $color-blue-darkest;

    max-height: 378px !important;

    border-radius: 5px;

    @media screen and (orientation:landscape) and (max-width: $screen-md-min) {
        height: 320px;
    }
}

.home-slide-caption .home-slide-caption-title,
.home-slide-caption .home-slide-caption-title h2,
.home-slide-caption h2.home-slide-caption-title,
.home-slide-main-container .cms-content h1 a {

    color: $color-white;

    font-size: 42px;
    font-weight: bold;
}

.home-slide-caption p {

    color: $color-white;

    font-size: 24px;
    text-transform: none;

    display: block;

    margin-top: 60px;

    @media (min-width: $screen-sm-min) {
        margin-top: initial;
    }

    @media (max-width: $screen-sm-min) {
        margin-top: 0px;
    }
}

.home-banner-main-cell-bg {

    /*width: 360px;*/
    /*height: 240px;*/

    /*background-color: $color-monochrome-darkest;*/
    background-color: $color-white;
    color: $color-white;

    border-radius: 5px;

    /*@media screen (min-width: $screen-md-min) {
        height: 240px;
    }

    @media screen and (orientation:portrait) and (max-width: $screen-md-min) {
        height: initial;
    }*/
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2,
.home-banner-main-cell-nth3 {

    clear: both;
    border-radius: 5px;
    overflow: hidden;

    @media (min-width: $screen-sm-min) {

        clear: none;
    }

    @media (min-width: 768px) and (max-width: 768px) {

        clear: none;
    }
}


.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {

    margin-bottom: 20px;

    @media (max-width: $screen-md-min) {

        width: 100%;
    }

    @media (min-width: $screen-md-min) {

        margin-bottom: initial;
    }

    @media (min-width: 768px) and (max-width: 768px) {

        width: auto;
    }
}

.home-banner-main-cell-text,
.home-banner-main-cell-text p {

    color: $color-white;

    display: block;

    font-size: 18px;
    font-weight: bold;

    min-width: 310px;
    max-width: 310px;
    max-height: 66px;

    text-transform: none;
}

.home-banner-main-cell-text a {

    word-break: break-word;
    color: $color-white;
    display: block;
    max-width: 215px;
}

.home-banner-main-cell-text {

    background-color: $color-blue-darkest;

    position: relative;
    /*top: 154px;*/
    top: -90px;

    text-align: left;

    padding: 5px 15px;

    display: initial;

    @media (max-width: $screen-sm-min) {
        line-height: 0;
    }

    @media screen and (orientation:landscape) and (max-width: $screen-md-min) {
        top: -265px;
    }

    /*@media screen and (orientation:portrait) and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        top: -320px;
    }*/

    @media screen and (orientation:portrait) and (max-width: $screen-md-min) {
        top: -105px;
    }
}

.home-slide-caption {

    @media (min-width: $screen-md-min) {

        height: 400px;
    }
}

.home-image-slider .bx-wrapper img {

    margin: 0px;
    opacity: 0.5;

    @media (min-width: $screen-md-min) {
        opacity: 1;
    }

    @media (max-width: $screen-sm-min) {
        margin-bottom: -10px;
    }
}

/*.home-call-to-actions .home-banner-main-cell-nth0,
.home-call-to-actions .home-banner-main-cell-nth1,
.home-call-to-actions .home-banner-main-cell-nth2 {

    min-height: 240px;

    clear: both;

    @media (min-width: $screen-md-min) {

        clear: initial;
    }
}*/

.action-shortcut {

    display: inline-block;
    margin: auto;
    width: 100%;
}

.action-shortcut img {

    position: relative;
    top: 0px;
    left: -15px;
}

.action-shortcut p {

    position: relative;
    bottom: 20px;
    left: -15px;

    padding: 5px 10px;

    background-color: $color-monochrome-darkest;
    color: $color-white;

    @media (min-width: $screen-md-min) {

        position: absolute;
        bottom: 20px;
        left: 0px;
    }
}

.action-shortcut p span {

    font-family: 'National';
    font-size: 16px;
}

.home-banner-main-cell-nth1 .home-banner-main-cell-text,
.home-banner-main-cell-nth2 .home-banner-main-cell-text,
.home-banner-main-cell-nth3 .home-banner-main-cell-text {

    display: initial;
}

/**
 * Make the carousel min-width change per @media
 * Use mobile first approach
 */

.home-slide-main-container img {

    min-width: 1140px !important;
    float: none;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    margin: 0px;
}

.actions img {

    position: relative; /* was absolute */
    border-radius: 5px;
}

.home-slide-main-container .cms-content h1 {

    color: $color-white;
}

.home-slide-caption .home-slide-caption-button {

    padding: 0px;
}

.home-slide-caption-button a {

    padding: 20px 35px;
    display: block;
    color: $color-white;
}

.home-image-slider .bx-viewport {

    /*height: 320px !important;

    @media (min-width: $screen-lg-min) {
        height: 400px !important;
    }*/
}

.home-slide-caption .home-slide-caption-button-container {

    @media (max-width: $screen-sm-min) {
        top: 235px;
        bottom: initial;
    }
}

.home-image-slider .bx-wrapper {

    @media (max-width: $screen-sm-min) {
        margin-bottom: 0px;
    }
}

.home-slider-container {

    @media (max-width: $screen-sm-min) {
        margin-bottom: 0px;
    }
}
