/**
 * Custom SCSS for Facets
 */

.facets-item-cell-grid-image {

	@extend .item-cell-image;

	width:100%;
	height:auto;

    border-radius: 5px;
}

.facets-item-cell-grid-title {

	@extend .item-cell-title;

	font-weight: bold;
	font-size: 16px;

	color: $color-monochrome-darkest;

	text-align: left;
	line-height: 20px;

	padding: 10px 0px 0px 0px;

	margin-bottom: 2px;
	margin-top: 5px;
}

.facets-item-cell-grid-category {

	font-weight: bold;
	font-size: 16px;

	color: $color-monochrome-darkest;

	text-align: left;
	line-height: 20px;

	margin-bottom: 2px;
	margin-top: -2px;
}

.facets-item-cell-grid-sku {

	text-align: left;

	font-size: 14px;
	font-weight: 300;

	color: $color-monochrome-darker;

	text-align: left;
	line-height: 18px;
}

.facets-item-cell-grid-price {

	@extend .small-price;

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;

	color: $color-blue-darker;
}

.facets-item-cell-grid-rating {

	text-align: left;

	display: inline;

	margin-top: -10px;
}

// Facets Browser title
.facets-facet-browse-title {

	@extend .list-header-title-ahead;

	font-size: 24px;
	font-weight: 500;

	line-height: 30px;

	color: $color-monochrome-darkest;
}

/**
 * Related template: facets_faceted_navigation.tpl
 */

.facets-faceted-navigation-title {

	color: $color-monochrome-darkest;

	font-size: 24px;
	font-weight: 500;

	line-height: 30px;

	margin-bottom: 40px;
	padding: 0px;

	text-transform: initial;
}

.facets-faceted-navigation-item-facet-option,
.facets-faceted-navigation-item-facet-option .option-active  {

	font-size: 14px;
	font-weight: bold;

	line-height: 18px;

	background-color: $color-blue-lighter;
	color: $color-monochrome-darkest;
}

.facets-faceted-navigation-facets-clear {

	width: 100%;

	text-align: right;

	border: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.facets-faceted-navigation-facets-clear,
.facets-faceted-navigation-facets-clear:hover,
.facets-faceted-navigation-facets-clear:active,
.facets-faceted-navigation-facets-clear:focus {

	font-size: 16px;
	font-weight: 300;

	line-height: 20px;

	background-color: $color-white;
	color: $color-monochrome-darker;
}

.facets-faceted-navigation-option-active,
.facets-faceted-navigation-option-inactive {

	width: 15px;
	height: 15px;

	position: relative;
	top: 3px;
	right: 15px;
}

.facets-faceted-navigation-option-active .facets-facted-navigation-option-displayname {

	display: inline;
}

.option-active .facets-facted-navigation-option-displayname:hover,
.option-active .facets-faceted-navigation-item-facet-option .facets-facted-navigation-option-displayname,
.option-active .facets-faceted-navigation-item-facet-option:hover .facets-facted-navigation-option-displayname {

	color: $color-monochrome-darkest;
}

.facets-facted-navigation-option-displayname {

	color: $color-monochrome-darkest;
}

.facets-faceted-navigation-item-facet-option:hover .facets-facted-navigation-option-displayname {

	color: $color-blue-darker;
}

.facets-faceted-navigation-item-facet-option {

	padding-left: 30px;
}

// Main Facet headings

// Normal, not active
.facets-faceted-navigation-item-facet-group-expander,
.facets-faceted-navigation-item-facet-group-expanded {

	padding: 11px;

	display: inline;

	/*border: 1px solid $color-blue-dull;*/
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;

	h4 {
		display: inline;
	}
}

.facets-faceted-navigation-item-facet-group-expander:first-child,
.facets-faceted-navigation-item-facet-group-expanded:first-child {

	/*border-left: 1px;*/
}

.facets-faceted-navigation-item-facet-group-expander h4 a {

	color: $color-orange-dark;
}

.facets-faceted-navigation-item-facet-group-expander {

	background-color: #ffffff;
}

.facets-faceted-navigation-item-facet-group-expanded {

	background-color: $color-blue-lighter;
	border-bottom: 1px solid $color-blue-dull;
	padding: 10px;

	h4 {
		color: $color-blue-dull;
	}
}

.facets-headings {

	border-bottom: 1px solid $color-blue-dull;
	padding-bottom: 6px;

	font-weight: 400;

	padding-top: 11px;
}

.facets-headings .facets-faceted-navigation-item-facet-group-title {

	font-weight: 400;
}

.facets-headings .facets-heading-active {

	padding-top: 15px;
	border-left: 0px;
}

.facets-facet-browse-items {

	padding-top: 30px;
}

.facets-faceted-navigation-item-facet-group {

	padding: 0px;
}

.facets-faceted-navigation-item-facet-option {

	border-bottom: 1px solid $color-blue-light;
}

.facets-faceted-navigation-facets-clear:focus:hover {

	color: $color-monochrome-darker;

	font-size: 16px;
	font-weight: 300;

	line-height: 20px;
}

.facets-faceted-navigation-facets-clear-icon {

	color: $color-monochrome-darker;
}

// Align product listings price left
.facets-item-cell-grid-price .item-views-price {

	text-align: left;
}

/**
 * facets_item_list_display_selector
 */

.facets-item-list-display-selector i,
.icon-display-list {

    color: $color-blue-dull;
}

.facets-item-list-display-selector {

	border: 1px solid $color-blue-dull;

	background-image: url('');
}

.facets-facet-browse-list-header-filter-column select {

	color: $color-monochrome-darkest;

	font-size: 16px;
	font-weight: 500;

	line-height: 20px;
}

/**
 * @template facets_item_cell_list
 */

.facets-item-cell-list-title,
.facets-item-cell-list-title:hover,
.facets-item-cell-list-title a span {

	color: $color-monochrome-darkest;

	font-size: 16px;
	font-weight: bold;

	line-height: 3px;

	text-transform: none;
}

.facets-item-cell-list-title a span {

	margin-top: 20px;
}

.facets-faceted-navigation-item-facet-group-content ul li ul {

	margin-left: 20px;
}

.facets-faceted-navigation-item-facet-group-content ul li ul li ul {

	margin-left: 20px;
}

.facets-faceted-navigation-item-facet-option  .facets-facted-navigation-icon-dropdown {

	float: right;
	margin-right: 20px;
	display: inline-block;

	font-family: 'National';
	font-size: 22px;
	font-weight: 600;

	color: $color-blue-darkest;
}

.option-active .facets-facted-navigation-icon-dropdown {

	float: right;
	margin-right: 20px;
	display: inline-block;
	transform: rotate(90deg);

	font-family: 'National';
	font-size: 22px;
	font-weight: 600;

	color: $color-blue-darkest;
}

/**
 * Categories page
 */

.facets-category-cell-image {

	border-radius: 5px;
}

.facets-category-cell-title {

	margin-top: 6px;
	text-align: left;
}

.facets-category-cell-title a {

	color: $color-monochrome-darkest;

	font-size: 16px;
	font-weight: bold;

	line-height: 20px;
}

.facets-facet-browse-category-results {

	width: 100%;
}

.facets-browse-category-heading-main-description {

	margin: 0px 0px 40px 0px;
	padding-bottom: 20px;

	border-bottom: 1px solid $color-blue-light;
}

@media (min-width: 992px) {

	.facets-browse-category-heading-main-description {

		margin: 0px 0px 40px 0px;
	}

	// Maybe remove during production
	.facets-browse-category-heading-list-header {

		width: 100%;
	}
}

.facets-browse-category-heading-main-description h1 {

	color: $color-monochrome-darkest;

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;
}

// Should be removed in production
.facets-browse-category-heading-main-image {

	display: none;
}

.facets-category-cell {

	margin-bottom: 37px;
}

/**
 * @template facets_items_collection
 */

.facets-item-cell-grid-quick-view-link,
.facets-item-cell-grid-quick-view-link:hover,
.facets-item-cell-grid-quick-view-link:active,
.facets-item-cell-grid-quick-view-link:visited,
.facets-item-cell-grid-quick-view-link:focus {

	@extend .item-cell-quick-view-link;

	background-image: none;
	background: none;

	background-color: $color-orange-dark;
	color: $color-white;

	border-radius: 5px;

	font-size: 18px;
	font-weight: 500;

	line-height: 23px;

    border: 0px;
}

.facets-empty-title {

	text-transform: initial;
}

.facets-faceted-navigation-facet-option.option-active {

	color: $color-monochrome-darkest;
	/*$color-blue-darkest*/
}

.main-container {

	@media (min-width: 1200px) {

		width: 970px;
	}
}

.facets-item-cell-grid-image-wrapper {

	width: 175px;
	height: 175px;
}

.facets-item-cell-grid-image-wrapper img {

	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
