.itemssearcher-input {
	@extend .nav-search-input;

    color: $color-blue-dull;
}

.itemssearcher-input::-webkit-input-placeholder,
.itemssearcher-input::-moz-placeholder,
.itemssearcher-input:-ms-input-placeholder,
.itemssearcher-input:-moz-placeholder {

    color: $color-blue-dull;
}

.twitter-typeahead input[type="search"]::placeholder,
.twitter-typeahead input[type="search"]::-webkit-input-placeholder,
.twitter-typeahead input[type="search"]::-moz-placeholder,
.twitter-typeahead input[type="search"]:-ms-input-placeholder,
.twitter-typeahead input[type="search"]:-moz-placeholder {

    color: $color-blue-dull;
}

.site-search-content-input .itemssearcher-input::placeholder {

    color: $color-blue-dull;
}
