.site-search-button-submit {

    @include button-orange-flat;
}

.site-search-button-submit,
.site-search-button-submit:active {

    @include button-orange-flat;

    width: 50px;
    height: 50px;

    padding: initial;
}

.site-search-button-submit:hover {

    @include button-orange-flat-hover;

    width: 50px;
    height: 50px;

    padding: initial;
}

input[type="search"]::placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="search"]:-moz-placeholder {

    color: $color-blue-dull;
}

.site-search-input-icon {

    color: $color-blue-dull;
}

.site-search-button-submit {

    @include button-orange-flat-hover;
}

.site-search-button-submit,
.site-search-button-submit:active,
.site-search-button-submit:visited,
.site-search-button-submit:focus {

    background-color: $color-orange-dark;
	color: $color-white;
}

.site-search {

    border-bottom: 1px solid $color-blue-light;
}
