
body {

    font-family: 'Source Sans Pro' !important;
    font-size: 15px;
    font-weight: 300;

    line-height: 25px;

    color: $color-monochrome-darkest;
}

.shopping-layout-header {

    margin-bottom: 0px;
}

.header-secondary-wrapper {

    border-bottom: 1px solid $color-blue-light;
}

.site-header {

    -webkit-box-shadow: none;
    box-shadow: none;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.center {

    text-align: center;
}

.page-header {

    /*padding: 84px 0px;

    vertical-align: middle;

    line-height: $page-header-background-height;
    max-height: 599px;*/

    margin-bottom: 50px;
}

.page-not-found {

    margin-top: 50px;
}

.header-logo-image {

    width: 263px;
}

.menu-tree-node-item-anchor,
.box-column, .box-column-bordered, .address-edit, .address-list, .creditcard-list, .creditcard-edit, .login-register-wrapper-login, .login-register-wrapper-register, .order-wizard-address-module-show-addresses-container, .order-wizard-msr-addresses-module-container, .order-wizard-registeremail-module-show-addresses-container, .order-wizard-paymentmethod-purchasenumber-module, .order-wizard-paymentmethod-selector-module, .order-wizard-showpayments-module-details, .order-wizard-msr-shipmethod-package, .order-wizard-shipmethod-module, .order-wizard-showshipments-actionable-module-container, .order-wizard-showshipments-actionable-module-shipping-details, .order-wizard-showshipments-module-container, .order-wizard-showshipments-module-shipping-details, .requestquote-wizard-module-comments-box, .order-wizard-checkout-fields-module {

    background-color: $color-standard-information;
}

.banner-breadcrumb-top {

    margin-top: 25px;
}

/*.container {

    @media (min-width: 1200px) {
        width: 970px;
    }
}*/

#quote-products .item-views-cell-navigable-item-unit-price,
#quote-products .item-views-price-old {

    display: none;
}

.order-wizard-checkout-fields-module {

	@extend .box-column;
	overflow: hidden;
}

.order-wizard-checkout-fields-module input {

    @extend .input-large;
}

.order-wizard-checkout-fields-module {

	@extend .box-column;
	overflow:hidden;

	h5 {
		text-transform:uppercase;
		margin-bottom: $sc-small-margin;
	}

	margin-bottom: 30px;
}

.checkout-fields p label {
	font-weight: bold;
}

.checkout-fields label {
	width: 100px;
    vertical-align: baseline;
    display: inline-block;
}

#po_number, #slc_number {
    display: inline;
}

.checkout-fields label, .checkout-fields input {
    vertical-align: baseline;
}

.checkout-fields {

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
