.button-primary,
.button-large,
.button-medium {

    @include button-blue;
}

.button-primary:focus,
.button-large:focus,
.button-medium:focus,
.button-generic:focus {

    @include button-blue;
}

.button-primary:active,
.button-large:active,
.button-medium:active,
.button-generic:active {

    @include button-blue;
}

/*.button-primary:hover,
.button-large:hover,
.button-medium:hover,*/
.button-generic:hover {

    @include button-blue-border-hover;
}

.button-primary:disabled,
.button-large:disabled,
.button-medium:disabled,
.button-generic:disabled {

    @include button-blue;
}

/*.button-tertiary,
.button-tertiary:focus,
.button-tertiary:active,*/
.button-secondary,
.button-secondary:focus,
.button-secondary:active,
.button-generic,
.button-generic:focus,
.button-generic:active {

    @include button-blue-border;
}

/*.button-tertiary:hover,*/
.button-secondary:hover
.button-generic:hover {

    @include button-blue-border-hover;
}

// Need new shades for disabled colors?
/*.button-tertiary:disabled,*/
.button-secondary:disabled,
.button-secondary:hover:disabled {

    @include button-blue-border-hover;
}

.button-small,
.button-small:focus,
.button-small:active {

    /*@include button-orange;

    border: initial;*/
}

.button-small:hover,
.button-small:disabled {

    /*@include button-orange-hover;

    border: initial;*/
    border-radius: 0px;

    background-color: $color-blue-darkest;
}

/*.button-small {

    @include button-orange-flat;
}

.button-small:hover {

    @include button-orange-flat-hover;
}*/

// TODO May need to fix this, prevents large buttons from being large on hover
.button-large:hover {

    /*font-size: 16.005px;
    line-height: 23px;*/

    font-size: normal;
    /*line-height: normal;*/

    @include button-blue-hover;
}

.home-slide-caption .home-slide-caption-button {

    padding: 0px;
}

/**
 * My Account buttons
 */

.case-new-button-submit,
.order-history-list-header-button-all-active,
.order-history-list-header-button-open {

    @include button-blue;
}

.case-new-button-submit:hover,
.order-history-list-header-button-all-active:hover,
.order-history-list-header-button-open:hover,
.address-edit-form-button-submit:hover,
.address-details-select-address:hover,
.creditcard-edit-form-button-submit:hover,
.address-edit-form-button-submit:hover,
.profile-information-button-update:hover,
.profile-emailpreferences-submit:hover,
.profile-update-password-form-actions-update:hover,
.invoice-open-list-header-button-paid:hover {

	@include button-blue-hover;
}

/**
 * Disabled type buttons
 */

.quote-details-button-review-and-order:disabled {

    @include button-blue-border-hover;
}
