/**
 * SCSS for forms
 */

select[class] {

	/*@include angle-down-background($sc-color-theme);
	@include appearance(none);*/

	background-color:$sc-color-tertiary;
	padding-right: 30px;
	background-repeat: no-repeat;
	background-size: $sc-navigation-icon-size;
	background-position: 100% 100%;
	text-indent: 0.01px;
	text-overflow: '';

    border: 1px solid $color-blue-dull;
    border-radius: 5px;
}

// Error fields
[data-validation-error] input,
[data-validation-error] select,
[data-validation-error] textarea
{
	border-color: $sc-color-error;
	outline-color: $sc-color-error;
}

input,
textarea,
textarea[name="message"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="search"],
input[type="company"],
input[type="tel"],
input[type="number"] {

	border: 1px solid $color-blue-light;
	border-radius: 5px;

	background-color: $color-white;
}

input[type="search"]::placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="search"]:-moz-placeholder {

    color: $color-blue-dull;
}
