/**
 * used for custom page templates
 */

.custom-page {

    padding-bottom: 38px;
}

.custom-page p {

	color: $color-monochrome-darkest;

	font-size: 15px;
	font-weight: 300;

	line-height: 25px;
}

.custom-page .introduction p {

    /*padding-bottom: 38px;*/

    width: 640px;
}

.custom-page .introduction p:last-child {

    margin-bottom: 0px;
    padding-bottom: 0px;
}

.custom-page-header h1 {

	color: $color-white;

	font-size: 42px;
	font-weight: bold;

	/*line-height: 53px;

    margin-bottom: 49px;*/
}

.shaded-background {

    background-color: $color-monochrome-lightest;

    padding-top: 50px;
}

.custom-page .information-box {

    width: 320px;

    background-color: $color-monochrome-lightest;
    border: none;

    margin-bottom: 43px;
}

.custom-page .profile-photo {

	height: 295px;
	width: 255px;

	background-color: $color-photo-background;
}

.custom-page .individual-profiles span {

    display: block;
}

.custom-page .individual-profiles span:last-child {

    margin-bottom: 42px;
}

.custom-page .individual-profiles .contact-email,
.custom-page .individual-profiles .contact-email a {

    color: $color-blue-darker;
}

.custom-page h1,
.custom-page p,
.custom-page-header h1,
.custom-page-header p {

    margin-bottom: 20px;
}

.custom-page .individual-profiles h2 {

	color: $color-monochrome-darkest;

	font-size: 16px;
	font-weight: bold;

	line-height: 20px;

    margin-top: 8px;
}

.custom-page-header h1,
.custom-page-header h2,
.custom-page-header h3 {

    color: $color-white;

    text-transform: none;
}

.page-header {

    line-height: initial;

    /* stretch background image */
    // standard image seems to not fit screen width
    background-size: 100% auto;
}

.middle-align {

    height: 480px;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 50px;
}

.page-header {
    max-height: 460px;
}
