
.terms-of-trade h1,
.terms-of-trade h2,
.terms-of-trade h3 {

    color: $color-monochrome-darkest;
}

.terms-of-trade h1 {

	font-size: 42px;
	font-weight: bold;

	line-height: 53px;

    margin-bottom: 68px;
}

.terms-of-trade h3:first-child {

	font-size: 15px;
	font-weight: bold;

	line-height: 25px;

    margin-bottom: 38px;
}


.terms-of-trade h3 {

	font-size: 15px;
	font-weight: bold;

	line-height: 25px;

    margin-top: 61px;
    margin-bottom: 38px;
}

.terms-of-trade-content {

    width: 725px;

	color: $color-monochrome-darkest;

	line-height: 25px;
}

.terms-of-trade-content ol {

    counter-reset: section;
    list-style-type: none;
}

.terms-of-trade-content li:before {

    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
}

/*.terms-of-trade-content li {

    list-style: lower-alpha;
}*/

.terms-of-trade {

    margin-top: 40px;
}
