
footer,
#site-footer {

    background-color: $color-blue-darkest;
    background: $color-blue-darkest;

    border-top: 1px solid $color-seperator;
}

footer a {

    color: $color-white;
    opacity: 0.8;

    font-size: 12px;
    font-weight: 500;

    /*line-height: 15px;*/
    line-height: 39px;
    letter-spacing: 1px;
}

footer .facebook {

    border-radius: 5px;
}

footer .footer-bottom {

    border-top: 1px solid $color-seperator;

    clear: both;

    padding-top: 20px;
    margin-bottom: 20px;
}

footer .footer-bottom .footer-content-social {

    text-align: center;

    @media (min-width: $screen-md-min) {

        text-align: left;
        float: left;
    }
}

footer .footer-bottom .footer-content-copyright {

    display: block;
    clear: none;
    text-align: center;

    @media (min-width: $screen-md-min) {

        float: right;
    }
}

footer .footer-bottom .footer-content-copyright p {

    color: $color-footer-copyright;

	font-size: 12px;
	font-weight: 500;

	letter-spacing: 1px;
	line-height: 15px;

    text-transform: uppercase;
}

footer .footer-bottom .footer-content-copyright span {

    display: block;

    @media (min-width: $screen-md-min) {

        display: inline-block;
    }
}

footer .footer-bottom .footer-content-social ul li {

    display: inline;

    margin-right: 10px;
}

footer .footer-bottom .footer-content-social img {

    width: 36px;
    height: 30px;
}

footer .footer-content .footer-content-nav a {

    color: $color-footer-links;
}

footer .footer-content .footer-content-nav .footer-nav-row {

    padding-bottom: 10px;
}

footer .footer-content .footer-content-nav .footer-nav-row:last-child {

    padding-bottom: 0px;
}

footer .footer-content-nav-list {

    font-size: 12px;
    font-weight: 500;

    line-height: 15px;
    letter-spacing: 1px;

    color: $color-footer-links;
}

footer .footer-content-nav-list li {

    @media (min-width: $screen-md-min) {

        margin-right: 45px;
    }
}

footer .footer-content-nav-list li:last-child {

    margin-right: 0px;
}
