
.item-views-stock-msg-out {
	@extend .stock-info-out;
	@extend .item-views-stock-msg;

    border-radius: 5px;
}

.item-views-stock-icon-out {

	float: left;

	margin-left: 8px;
}

.item-views-stock-msg-out img {

	width: 16px;
	height: 16px;
}

.item-views-stock-msg-out-text {

    color: $color-red-dark;

	margin-left: -4px;
	margin-top: -5px;

	font-size: 14px;

	display: inline-block;
}

.item-views-related-item-title {

	text-align: left;
	text-transform: none;
	margin-bottom: 0px;
}

.item-relations-cell {

    text-align: left;
}

/*.item-views-related-item-thumbnail {

	width: 212px;
	height: 212px;
}*/

.item-views-related-item-title span,
.item-views-related-item-title a,
.item-views-cell-actionable-name-link,
.item-views-cell-actionable-name-link:hover {

	font-size: 16px;
	font-weight: bold;

	line-height: 20px;

    color: $color-monochrome-darkest;
}

.item-views-related-item-sku {

	font-size: 14px;
	font-weight: 300;

	line-height: 18px;

	color: $color-monochrome-darker;
}

.item-views-price-lead,
.item-views-cell-actionable-price .item-views-price-lead {

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;

	color: $color-blue-darker;
}

/**
 * @template item_views_stock
 */

.item-views-stock .item-views-stock-msg-out {

	margin-left: -1px;
	margin-top: -5px;

	width: 190px;
	height: 37px;
}

/**
 * @template cart_detailed
 */

.item-views-cell-actionable-thumbnail a img,
.item-views-related-item-thumbnail img {

	border-radius: 5px;
}

.item-views-cell-actionable-sku-label,
.item-views-cell-actionable-sku-value,
.item-views-cell-actionable-sku p span {

	color: $color-monochrome-darker;
}

/**
 * @template recently_viewed_items
 *
 * TODO port this to the JavaScript View
 */

.recently-viewed-items .bx-wrapper {

	margin: 0px;
}

.recently-viewed-cell-item {

	text-align: left;
}

.recently-viewed-items h3 {

	color: $color-monochrome-darkest;

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;
}

.item-views-cell-actionable-name {

	margin-bottom: 3px;
}

.item-views-cell-actionable-price,
.cart-item-summary-item-list-actionable-container-qty,
.cart-item-summary-item-list-actionable-amount {

	margin-bottom: 0px;
}

.cart-item-summary-item-list-actionable-amount {

	margin-top: 6px;
}

.item-views-cell-actionable-sku {

	margin-bottom: 4px;
}

.item-views-price-login-to-see-prices {

	padding: 0px;
}
