.facets-categories {


}

.facets-categories-children {


}

.facets-categories-siblings {

    padding-left: 10px;
}

.facets-categories-title {


}

.facets-facet-browse-narrowedby {

    padding-bottom: 0px;
    padding-top: 0px;
}

/**
 * Expanding the Facets
 */

.facets-item-cell-grid-image {

	@extend .item-cell-image;

	width:100%;
	height:auto;

    border-radius: 5px;
}

.facets-item-cell-grid-title {

	@extend .item-cell-title;

	font-weight: bold;
	font-size: 16px;

	color: $color-monochrome-darkest;

	text-align: left;
	line-height: 20px;

	padding: 10px 0px 0px 0px;

	margin-bottom: 2px;
}

.facets-item-cell-grid-category {

	font-weight: bold;
	font-size: 16px;

	color: $color-monochrome-darkest;

	text-align: left;
	line-height: 20px;

	margin-bottom: 2px;
}

.facets-item-cell-grid-sku {

	text-align: left;

	font-size: 14px;
	font-weight: 300;

	color: $color-monochrome-darker;

	text-align: left;
	line-height: 18px;
}

.facets-item-cell-grid-price {

	@extend .small-price;

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;

	color: $color-blue-darker;
}

// Quick View button
.facets-item-cell-grid-quick-view-link,
.facets-item-cell-grid-quick-view-link:hover,
.facets-item-cell-grid-quick-view-link:active,
.facets-item-cell-grid-quick-view-link:visited,
.facets-item-cell-grid-quick-view-link:focus {

	@extend .item-cell-quick-view-link;

	background-color: $color-orange-dark;
	color: $color-white;

	border-radius: 5px;

	font-size: 18px;
	font-weight: 500;

	line-height: 23px;
}

// Facets Browser title
.facets-facet-browse-title {

	@extend .list-header-title-ahead;

	font-size: 24px;
	font-weight: 500;

	line-height: 30px;

	color: $color-monochrome-darkest;
}

/**
 * Related template: facets_faceted_navigation.tpl
 */

.facets-faceted-navigation-title {

	color: $color-monochrome-darkest;

	font-size: 24px;
	font-weight: 500;

	line-height: 30px;
}

.facets-faceted-navigation-item-facet-option,
.facets-faceted-navigation-item-facet-option .option-active  {

	font-size: 14px;
	font-weight: bold;

	line-height: 18px;

	background-color: $color-blue-lighter;
	color: $color-monochrome-darkest;
}

.facets-faceted-navigation-facets-clear {

	width: 100%;
    height: 25px;

	text-align: right;

	border: 0px;

	margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.facets-faceted-navigation-facets-clear,
.facets-faceted-navigation-facets-clear:hover,
.facets-faceted-navigation-facets-clear:active,
.facets-faceted-navigation-facets-clear:focus {

	font-size: 16px;
	font-weight: 300;

	line-height: 20px;

	background-color: $color-white;
	color: $color-monochrome-darker;
}

.facets-faceted-navigation-option-active .facets-facted-navigation-option-displayname {

	display: inline;
}

.facets-facted-navigation-option-displayname {

	color: $color-monochrome-darkest;
}

.facets-faceted-navigation-item-facet-option {

	padding-left: 30px;
}

// Main Facet headings

// Normal, not active
.facets-faceted-navigation-item-facet-group-expander,
.facets-faceted-navigation-item-facet-group-expanded {

	padding: 11px;

	display: inline;

	border: 1px solid $color-blue-dull;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;

	h4 {
		display: inline;
	}
}

.facets-faceted-navigation-item-facet-group-expander:first-child,
.facets-faceted-navigation-item-facet-group-expanded:first-child {

	/*border-left: 1px;*/
}

.facets-faceted-navigation-item-facet-group-expander h4 {

	color: $color-orange-dark;
}

.facets-faceted-navigation-item-facet-group-expanded {

	background-color: $color-blue-lighter;

	h4 {
		color: $color-blue-dull;
	}
}

.facets-headings {

	border-bottom: 1px solid $color-blue-dull;
	padding-bottom: 6px;

	font-weight: 400;

    height: 44px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.facets-headings .facets-faceted-navigation-item-facet-group-title {

	font-weight: 400;
}

.facets-headings-title {

    text-transform: capitalize;
}

.facets-categories-list .collapse {

    display: none;
    visibility: none;
}

.facets-categories-list .collapse {

}

/**
 * Middle align category logos (vendors)
 */

.facets-category-cell-thumbnail {

    height: 200px;
}

.facets-category-cell-anchor {

    text-align: center;
    vertical-align: middle;
    height: 220px;
}

.facets-category-cell-image {

    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/**
 * Facets reset button
 */

.facets-reset {

    height: 25px;
    position: relative;
    margin-bottom: 10px;
}

.facets-reset-container {
    vertical-align: middle;
    height: 25px;
}

.facets-reset-container a img {

    width: auto;
    height: auto;
    position: absolute;
    top: -5px;
    bottom: 0;
    left: 0;
    right: -80px;
    margin: auto;
}

.facets-reset-container a span {

    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
