/**
 * @template quick_view
 */

.quick-view-confirmation-modal-item-name {

    font-size: 26px;
    font-weight: bold;

    line-height: 33px;

    color: $color-monochrome-darkest;

    margin-bottom: 5px;
    margin-top: -5px;
}

// Comments are for making SKU alignment better
.quick-view-confirmation-modal-sku {

    /*margin-top: 4px;*/

    margin-top: 15px;
    margin-bottom: 0px;
}

.quick-view-confirmation-modal-sku-value {

	@extend .sc-value-sku;

    margin-top: 40px;

    font-size: 14px;
    font-weight: 300;

    line-height: 18px;

    color: $color-monochrome-darker;
}

.quick-view-options-quantity-title {

	@extend .item-details-options-quantity-title;

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;

	color: $color-monochrome-darkest;

    margin-bottom: 0px;

    height: 25px;
}

.item-details-options-quantity input[type="number"] {

	@extend .item-details-quantity-value;

	background-color: $color-monochrome-lighter;

	border-radius: 5px;

    border: none;
}

.item-details-options-quantity-title {

    color: $color-monochrome-darkest;
    background-color: $color-white;

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;
}

.product-detail-to-quote-add-to-quote button,
.product-detail-to-quote-add-to-quote button:hover {

    line-height: initial;
    height: initial;
}

/**
 * @template item_details
 */

.item-details-view-datasheet {

    font-size: 17px;
    font-weight: 500;

    line-height: 22px;

    color: $color-blue-darkest;
}

/*.item-details-heading-features {

    color: $color-blue-darkest;

    font-size: 18px;
    font-weight: bold;

    line-height: 23px;
}*/

.item-details-content-header-title {

    font-size: 26px;
    font-weight: bold;

    line-height: 33px;

    color: $color-monochrome-darkest;

    margin-top: 24px;
}

.item-details-banner-summary-bottom .item-views-price-lead {

    margin-left: -2px;
    margin-top: 5px;

    display: inline-block;
}

.item-details-sku,
.item-details-sku-value {

    font-size: 14px;
    font-weight: 300;

    line-height: 18px;

    color: $color-monochrome-darker;
}

.view-datasheet-pdf {

    font-size: 17px;
    font-weight: 500;

    line-height: 22px;

    margin-top: 25px;
}

.view-datasheet-pdf a {

    color: $color-blue-darkest;
}

.view-datasheet-pdf a:hover {

    color: $color-blue-dark;
}

.item-details-tab-content,
.item-details-tab-content-panel {

    background-color: $color-blue-lighter;

    border-radius: 5px;
}

.item-details-tab-content h2,
.item-details-tab-content-panel h2 {

	font-size: 18px;
	font-weight: bold;

    line-height: 23px;

    color: $color-blue-darkest;

    padding-bottom: 9px;
    margin-bottom: 39px;

    border-bottom: 2px solid $color-blue-darkest;

    display: inline-block;
}

.item-details-tab-content div,
.item-details-tab-content-panel div {

	font-size: 15px;
	font-weight: 300;

	line-height: 25px;
}

.item-details-tab-content .item-details-tab-content-panel div:nth-child(2) {

	color: $color-monochrome-darkest;

	font-size: 15px;
	font-weight: 300;

    line-height: 25px;
}

.item-details-more-info-content-container {

    background-color: $color-blue-lighter;
}

.item-details-content-correlated-items .item-relations-correlated h3 {

	font-size: 26px;
	font-weight: bold;

	line-height: 33px;

	color: $color-monochrome-darkest;
}

.item-details-content {

    margin-top: 0px;
}


.item-details-quantity-value {

	margin-bottom: 10px;
}

/*.item-details-add-to-cart-button,
.item-details-add-to-cart-button:hover,
.item-details-add-to-cart-button:active,
.item-details-add-to-cart-button:focus,
.item-details-add-to-cart-button:visited {

    @include button-blue;

    width: 268px;
    height: 58px;

    font-size: 18px;
	font-weight: 500;

    line-height: 23px;

	text-align: center;
}


.product-detail-to-quote-add-to-quote-button,
.product-detail-to-quote-add-to-quote-button:hover,
.product-detail-to-quote-add-to-quote-button:active,
.product-detail-to-quote-add-to-quote-button:focus,
.product-detail-to-quote-add-to-quote-button:visited {

	@extend .button-tertiary;
	@extend .button-large;

	margin-top: $sc-base-margin * 3;
	margin-left: 0;

	border: 1px solid $sc-color-theme;

	width: 100%;

	text-align: center;

	cursor: pointer;
	cursor: hand;

    @include button-blue-hover;

	font-size: 18px;
	font-weight: 500;

	line-height: 23px;

    color: $color-blue-darkest;
}*/

.item-details-divider-desktop {

    @extend .item-details-divider-desktop;

    background-color: $color-blue-light;
}

/**
 * @template quick_view
 */

.quick-view-confirmation-modal-price .item-views-price-lead {

    /*@extend .middle-price;*/

    font-size: 17px;
    font-weight: 500;

    line-height: 22px;

    color: $color-blue-darker;
}

.quick-view-options-quantity label {

    background-color: $color-white;
    color: $color-monochrome-darkest;

	font-size: 17px;
	font-weight: 500;

	line-height: 22px;

    text-align: left;

    padding: 2px 0px 0px 0px;
    /*invision:margin-top: -4px;*/
    margin-top: 18px;
}

.quick-view-options-quantity input {

	border-radius: 5px;

    background-color: $color-monochrome-lighter;

    margin-bottom: 13px;
    /* margin-top: 7px; */
    margin-top: 13px;

	height: 40px;
	width: 90px;

    border: 0px;
}

.quick-view-confirmation-modal-sku-label {

    color: $color-monochrome-darker;

	font-size: 14px;
	font-weight: 300;

	line-height: 18px;
}

.quick-view-confirmation-modal-view-cart-button,
.quick-view-confirmation-modal-view-cart-button:active,
.quick-view-confirmation-modal-view-cart-button:focus,
.quick-view-confirmation-modal-view-cart-button:visited {

    @include button-blue;

    width: 268px;
    height: initial;

    font-size: 18px;

    line-height: 23px;

    margin-top: 2px;
}

.quick-view-confirmation-modal-view-cart-button:hover {

    @include button-blue-hover;

    width: 268px;
    height: initial;
}

.product-detail-to-quote-add-to-quote button,
.product-detail-to-quote-add-to-quote button:active,
.product-detail-to-quote-add-to-quote button:focus,
.product-detail-to-quote-add-to-quote button:visited {

    @include button-blue-border;

    width: 268px;
    //height: 58px;

    background-color: $color-white;
    background-image: none;
    background: none;

    font-size: 18px;

    //line-height: 23px;

    margin-top: 10px;
}

.product-detail-to-quote-add-to-quote button:hover {

    @include button-blue-border-hover;

    width: 268px;
    //height: 58px;

    font-size: 18px;

    //line-height: 23px;

    margin-top: 10px;
}

/**
 * @template image_details_image_gallery
 */

.item-details-image-gallery-detailed-image  {

    border-radius: 5px;
}
