.newsletter-subscription-form-button-subscribe {

    height: $sc-target-size;
    margin-bottom: $sc-small-margin;
    @extend .button-secondary;
    @extend .col-sm-5;
    @extend .col-xs-12;

    border-radius: 5px;

    background: linear-gradient(180deg, $button-blue-top-gradient 0%, $button-blue-hover-bottom-gradient 100%);
    color: $color-white;

    border: 0px;

    @media (min-width: $screen-md-min) {

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.newsletter-subscription-form-button-subscribe:hover {

    @include button-blue-hover;

    border: 0px;

    border-radius: 5px;

    background: $color-blue-darker;
    color: $color-white;

    font-size: 15px;
    font-weight: 500px;

    @media (min-width: $screen-md-min) {

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        background: $color-blue-darker;
    }
}

.newsletter-suscription-form-input {

    border-radius: 5px 0px 0px 5px;

    border: 0px;
}

.newsletter-subscription-form-label {

    color: $color-white;

	font-size: 18px;
	font-weight: 500;

	line-height: 23px;

    padding-bottom: 15px;

    text-transform: none;
}

.newsletter-suscription-form [data-validation-error] input,
[data-validation-error] select,
[data-validation-error] textarea
{
	border: 0px;
}

.newsletter-suscription-form #email {

	color: $color-blue-dull;

	font-size: 18px;
	font-weight: 300;

	line-height: 23px;

    border-radius: 5px;

    @media (min-width: $screen-md-min) {
        border-radius: 5px 0px 0px 5px;
    }
}

.newsletter-subscription-form-container p {
    display: none;
}
